#background-video {
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ration: 16/9) {
    #background-video {
        width: 100%;
        height: auto;
    }
	
}

@media (max-aspect-ration: 16/9) {
    #background-video {
        min-height: 80%;
        width: 100%;
    }
	
}

@media (max-width: 767px) {
    #background-video {
        display: none;
    }
	body {
        background: url(../../assets/images/staticBg.png);
        background-size: cover;
        background-attachment: fixed;
    }
}