.footer {
    background-color: black;
    height: 105px;
    width: 99vw;
    font-family: 'Alfa Slab One', cursive;
}
#footerLinks {
    margin: 0px 0px 0 10px;
    color: white;
    font-size: 30px;
}

@media (max-width: 767px) {
    .footer {
        width: 102vw;
    }
}