.footer {
    background-color: black;
    height: 60px;
    width: 100.9%;
    font-family: 'Alfa Slab One', cursive;
}
#facebook2, #linkedin2 {
    margin-top: 10px;
    color: white;
    font-size: 30px;
}