@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.mainNav {
    background-color: rgba(252, 249, 249, 0);
    max-height: 100px;
}

.logo:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.navLinksA {
    margin-top: 50px;
    margin-right: 15px;
    font-size: 24px;
    font-family: 'Alfa Slab One', cursive;
    color: black;
}

.navLinksP {
    margin-top: 50px;
    margin-right: 15px;
    font-size: 24px;
    font-family: 'Alfa Slab One', cursive;
    color: white;
}

.navLinksA:hover{
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: white;
}

.navLinksP:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: black;
}

@media (max-width: 767px) {
    .navLinksA, .navLinksP {
        margin: 0px;
        font-size: 18px;
    }
}